<div class="container">
    <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
        <h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
            <%= link_to "Upload Photo" ,new_gallery_path,class: "btn btn-primary" %>
        </h3>
    </div>

    <ul class="row first">
      <%@galleries.each do |gallery|%>
        <li>
            <%= image_tag gallery.photo.url, class: 'img-responsive', alt: "" %>
            <div class="col-md-12 text">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <%= link_to "Edit",edit_gallery_path(gallery) %>
                </div>
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <%= link_to 'Destroy',  gallery_path(gallery),  data: { confirm: 'Are you sure?' }, method: :delete %>
                </div>                
            </div>
        </li>
      <%end%>
    </ul>
</div> <!-- /container -->



