<div class="container">
    <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
        <h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
            <%= link_to "Upload Photo" ,new_gallery_path,class: "btn btn-primary" %>
        </h3>
    </div>

    <ul class="row first">
      <%@galleries.each do |gallery|%>
        <li>
            <%= image_tag gallery.photo.url, class: 'img-responsive', alt: "" %>
            <div class="col-md-12 text">
                <div class="col-md-6">
                    <%= link_to edit_gallery_path(gallery) do %>
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <% end %>
                </div>
                <div class="col-md-6">
                    <%= link_to gallery_path(gallery),  data: { confirm: 'Are you sure?' }, method: :delete do %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <% end %>
                </div>                
            </div>
        </li>
      <%end%>
    </ul>
</div> <!-- /container -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->